@blue: #81b3d2;
@white: #ffffff;
@grey: #eeeeee;
@grey-blue: #f2f2f2;
@grey-grey: #e6e6e6;

@black: #000000;
@grey-map: #f3f1ed;
@grey-border: #d6d6d6;
@border: #e5e5e5;
@grey-grey-grey: #eaeaea;


@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";


@base-color-hvr: #669ec0;
@base-color-down: #5496bd;
@black-color-03: rgba(0, 0, 0, 0.3);
@text-alt-color: #333333;


@light-blue: #9ac2db;
@blue-gray: #678fa8;

@hover: #669ec0;
