.date{
  background-color: @white;
  .indent(5px);
  width: 100%;
}
.date__question{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  color: @black;
  padding: 5px;
}
.date__answer{
 font-size: 18px;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  text-transform: lowercase;
  color: @black;
  padding: 10px;
}
