.form__name-wrapper input[type="text"] {
  background-color: @grey-blue;
  min-height: 60px;
}

.form__places-wrapper input[type="checkbox"] {
  background-color: @grey-blue;
  width: 55px;
  height: 55px;
}

.form__feeling-wrapper input[type="radio"] {
  background-color: @grey-blue;
  width: 55px;
  height: 55px;
}

.form__contacts-wrapper input[type="text"] {
  background-color: @grey-blue;
  min-height: 60px;

}

.form__contacts-wrapper input[type="email"] {
  background-color: @grey-blue;
  min-height: 60px;

}

.form__title {
  font-size: 18px;
  font-weight: bold;

  line-height: 24px;
  text-transform: uppercase;
  color: @black;
  padding: 5px;
}

textarea {
  font-size: 18px;
  font-weight: normal;
  background-color: @grey-blue;
  line-height: 24px;
  text-transform: lowercase;
  color: @black;
  width: auto;
}

.form {
  text-align: center;
}

label {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-transform: lowercase;
  color: @black;
}

.form {
  .container-fluid ();
}

.form__name,
.form__contacts,
.form__feeling,
.form__places,
.form__emotion {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media @tablet-widths {
  .form {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
  }

  .form__wrapper {
    margin: auto;
  }

  .form__wrapper:nth-child(3) {
    order: -1;
  }

  .form__emotion-wrapper {

  }

  .form__wrapper-place {
    display: flex;
    flex-wrap: wrap;

  }

  .form__places-wrapper {
    min-width: 220px;
    min-height: 55px;

  }

  .form__places-wrapper:nth-child(2) {
    order: 1;
  }

  .form__places-wrapper:nth-child(4) {
    order: 1;
  }

  .form__contacts-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 0px;
    text-align: left;
    justify-content: space-between;
    flex-basis: auto;
    margin-bottom: 30px;

  }

  .form__input input[type="text"],
  .form__input input[type="email"] {
    min-width: 648px;
    text-align: left;
  }

}

@media @desktop-widths {

  .form__wrapper-place {
    display: flex;

    justify-content: space-around;
    flex-wrap: nowrap;
    flex-basis: auto;

  }

  .form__contacts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-basis: auto;
  }

  .form__input input[type="text"],
  .form__input input[type="email"] {
    max-width: 320px;
    text-align: left;
  }
}
