.main-nav__list {
  padding: 0;
  margin: 0;
}

.main-nav {
  position: relative;
  width: auto;
  margin: 0 auto;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 50px;

  font-size: 0;

  background-color: @white;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: @white;
  }

  &:active {
    background-color: @white;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;

  width: 25px;
  height: 4px;

  background-color: @blue;
  box-shadow: 0 8px 0 0 @blue,
  0 16px 0 0 @blue;

}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  left: auto;
  background-color: @blue;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;

    width: 25px;
    height: 4px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav__list {
  font-weight: bold;
}

.main-nav__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: @blue;
  border-top: 1px solid @blue-gray;
  border-bottom: 1px solid @light-blue;
}

.main-nav__item a[href] {
  &:hover {
    background-color: @hover;
    border-top-color: @hover;
  }
}

.main-nav_logo-wrapper {
  background-color: @white;
  text-align: center;
}

.main-nav__logo img {
  width: 103px;
  height: 85px;
}

.main-nav__wrapper,
.main-nav_logo-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media @mobile-widths-only {

  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

@media @tablet-widths {
  .main-nav__list {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main-nav__item a {
    color: @black;
    background-color: @white;
    border: none;
  }

  .main-nav__logo img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0 auto;
    margin-top: -10px;
  }

  .main-nav {
    width: auto;

    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media @desktop-widths {

  .main-nav__item {
    width: auto;
  }

  .main-nav__list {
    width: 100%;
  }

}
