.page-footer {
  background-color: @white;
  min-height: 245px;
  .indents();
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}

.laib a {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  text-transform: uppercase;
  list-style: none;
  color: @black;
  height: 15px;
  width: 140px;
  text-decoration: none;
}

.footer-info {
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  vertical-align: middle;

  list-style: none;
  color: @black;
}

.footer-info img {
  text-align: center;
  vertical-align: middle;
  width: 30px;
  height:30px;
}

.social__link {
  display: inline-block;
  background-color: @blue;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.social__link img {
  text-align: center;
  vertical-align: middle;
  fill: @white;
  margin: 15px;
  width: 20px;
  height: 20px;

}

.social {
  display: flex;

  min-width: 45px;

}

@media @tablet-widths {
  .page-footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
    width: auto;
    .container-fluid ();
  }
}
@media @desktop-widths {
  width: 100%;
}
